*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Roboto, sans-serif;
}


.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}


/* Sidebar css only */

.side-nav {
    display: flex;
    flex-direction: column;
    color:white;
    padding:20px;
    gap: 20px;
    grid-row: 1 / span 2;
    background-color: rgb(59, 183, 255);
}

.side-nav .title {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap:10px;
}

.side-nav ul{
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: 24px;
    gap:10px;
}

.side-nav ul li{
    display: flex;
    align-items: center;
    gap:20px;
}


/* Header css only */ 

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.primary-header{
    display: flex;
    justify-content: space-between;
    padding:20px 40px;
}

.search{
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    justify-items: center;
    gap:30px;
    margin-right: 50px;
}


.sub-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px 40px;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.greetings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
}

.sub-header ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}

.sub-header ul li{
    padding: 10px 30px;
    justify-self: center;
    border-radius: 20px;
    color: white;
    background-color: rgb(59, 183, 255);
    font-weight: 600;
}

/* Content css only */
.content{
    display: grid;
    background-color: #E2E8F0;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content{
    padding: 30px 20px;
    grid-row: 1 / span 2;
}

.cards{
    margin-top: 15px;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit, 420px);
}

.card{
    position: relative;
    padding: 30px 40px;
    height: 200px;
    width: 400px;
    box-shadow: 2px 2px 3px rgb(218, 219, 219);
    border-radius: 10px;
    background-color: white;
}

.yellow {
  position: absolute;
  left: 0;
  top: 0;
  width: 3%;
  height: 100%;
  background-color: rgb(243, 186, 64);
  border-radius: 10px 0px 0px 10px;
}

.card ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 60px;
    gap:30px;
}

.announcements{
    padding: 20px 0;
}

.announcements ul,
.trending ul{
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    align-items: center;
    margin-top: 15px;
    width: 270px;
    height: 300px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(218, 219, 219);
}



.trending ul li{
    display: flex;
    gap:20px;
}

/* EXTRA */
.icon-dashboard{
    height: 50px;
    width: 50px;
    filter: invert(1);

}

.icon-side{
    height: 30px;
    width: 30px;
    filter: invert(1);
}

.icon-header{
    height: 25px;
    width: 25px;
}

.profile-logo{
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.icon-greeting{
    margin-right: 20px;
    height: 80px;
    width: 80px;
}


input{
    border-radius: 50px;
    margin-left: 10px;
    width: 700px;
    height: 29px;
    border: 1px solid #E2E8F0;
    background-color: #E2E8F0;
}

span{
    font-size: 20px;
    font-weight: bold;
}

.smaller{
    font-size: 14px;
}

p{
    font-size: 12px;
}